*{
    margin: 0%;
}

h1{
    color: rgba(5, 157, 162, 0.549);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h2{
    color: rgba(178, 34, 34, 0.641);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
button{
    color: rgb(79, 208, 165);
}